{% load staticfiles %}
<!doctype html >
<html class="no-js" lang="en">
<head>
    <title>{% block title %}Photo{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- AnimationBackground CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'photo/css/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'photo/css/demo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'photo/css/component.css' %}" />

    <!-- Foundation CSS -->
    <link rel="stylesheet" href="{% static 'photo/css/foundation.css' %}"/>
    <link rel="stylesheet" href="{% static 'photo/css/app.css' %}"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'photo/css/style.css' %}"/>

    <!-- Foundation icons -->
    <link rel="stylesheet" href="{% static 'photo/foundation-icons/foundation-icons.css' %}" />
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Facebook sdk -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1507209232941864',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    {% block main %}
    {% endblock main %}
    <!-- jquery -->
    <script src="{% static 'photo/js/vendor/jquery.min.js' %}"></script>

    <!-- facebook sharing -->
    <script type="text/javascript">
        var urlPrefix = location.protocol + '//' + location.host + '{{staged_photo.display_image}}';
        $(document).ready(function(){
        $('#share_button').click(function(e){
            console.log(urlPrefix);
        e.preventDefault();
        FB.ui(
          {
            method: 'feed',
            display: 'popup',
            caption: '{{staged_photo.caption}}',
            picture: urlPrefix,
            description: 'Created using ShutterPix'
          },
          // callback
          function(response) {}
        );
        });
        });
    </script> 

    <!-- Framework JS -->
    <script src="{% static 'photo/js/vendor/what-input.min.js' %}"></script>
    <script src="{% static 'photo/js/foundation.min.js' %}"></script>
    <script src="{% static 'photo/js/app.js' %}"></script>

    <!-- AnimationBackground JS -->
    <script src="{% static 'photo/js/TweenLite.min.js' %}"></script>
    <script src="{% static 'photo/js/EasePack.min.js' %}"></script>
    <script src="{% static 'photo/js/rAF.js' %}"></script>
    <script src="{% static 'photo/js/demo-1.js' %}"></script>
</body>
</html>