{% extends "photo/base_dashboard.html" %}

{% block title %}User Dashboard{% endblock title %}

{% block photo_list %}
    {% for photo in photos %}
    <div id="photo-{{ photo.id }}" class="{% if photo.id == staged_photo.id %}on-display{% else %}highlight{% endif %}">
        <a href="{% url 'photo:user_home' %}?photo={{ photo.id }}">
        <div class="row">
            <div class="small-12 medium-4 columns">
                <img src="{{ photo.photo.url }}" height="80" width="80">
            </div>
            <div class="small-12 medium-8 columns">
                <p class="photo-caption">{{ photo.caption }}</p>
                <form method="post" action="{% url 'photo:delete' %}" id="deleteForm">
                    {% csrf_token %}
                    <input type="hidden" value="{{photo.id}}" name="photo_id">
                    <input type="hidden" value="{{photo.photo.path}}" name="orig">
                    <input type="hidden" value="{{photo.temp_file_path}}" name="temp">
                    <button class="small alert button delete-btn" type="submit" form="deleteForm" data-id="photo-{{ photo.id }}"><i class="fi-trash"></i>  Delete</button>
                </form>
            </div>
        </div>
        </a>
    <hr />          
    </div>
    {% endfor %}    
{% endblock photo_list %}

{% block stage %}
    {% if messages %}
    <div class="row">
        <div class="small-12 columns">
            <div class="alert callout" data-closable>
                {% for message in messages %}
                <p>
                    {{ message }}
                </p>
                {% endfor %}
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    {% endif %}
  
        <div class="row">
            <div class="small-12 medium-8 columns staged_photo">
                <div class="loader hide"></div>
                <img class="staged_img float-center" src="{{ staged_photo.display_image }}" style="display: none;">
            </div>
            <div class="small-12 medium-4 columns effects_button" style="display:none">
                <a id="download_btn" href="{{ staged_photo.display_image }}" class="tiny button" download><i class="fi-download"></i> Download</a>
                <button id="share_button" type="button" class="tiny button float-right"><i class="fi-share"></i> Share</button>
                <hr class="stage_divider" />
                <a href="#" data-url="{% url 'photo:user_home' %}" data-effect="nigeria" class="button effect-btn">Nigeria</a>
                <a href="#" data-effect="france" class="button effect-btn">France</a>
                <a href="#" data-effect="usa" class="button effect-btn">USA</a>
                <a href="#" data-effect="kenya" class="button effect-btn">Kenya</a>
                <a href="#" data-effect="russia" class="button effect-btn">Russia</a>
                <a href="#" data-effect="double" class="button effect-btn">Double</a>
            </div>
        </div> 
{% endblock stage %}