{% extends "photo/base_dashboard.html" %}

{% block title %}User Dashboard{% endblock title %}

{% block photo_list %}
    {% for photo in photos %}
    <div class="highlight">
        <a href="{% url 'photo:user_home' %}?photo={{ photo.id }}">
        <div class="row">
            <div class="small-12 medium-6 columns">
                <img src="{{ photo.photo.url }}" height="80" width="80">
            </div>
            <div class="small-12 medium-6 columns">
                <p><strong>{{ photo.caption }}</strong></p>
            </div>
        </div>
        </a>
    </div>        
    {% endfor %}    
{% endblock photo_list %}

{% block stage %}
    {% if staged_photo %}
        <div class="row">
            <div class="small-12 columns">
                <img class="staged_img" src="{{ staged_photo.photo.url }}">
            </div>
        </div>    
    {% endif %}
{% endblock stage %}