body {
    padding-top: 0px;
    padding-bottom: 10px;
}

div {
    padding-top: 10px;
    padding-bottom: 10px
}

.no-space {
    padding: 0px;
}


.highlight :hover {
    background-color: #E6E6E6;
    color: white;
}

.grey {
    background-color: #E6E6E6;
    border-radius: 7px;
    /*box-shadow: inset 0px 1px 13px 3px #ABABAB,-1px 0px 3px -10px #DDDDDD;
    -webkit-box-shadow: inset 0px 1px 13px 3px #ABABAB,-1px 0px 3px -10px #DDDDDD;
    -moz-box-shadow: inset 0px 1px 13px 3px #ABABAB,-1px 0px 3px -10px #DDDDDD;
    -o-box-shadow: inset 0px 1px 13px 3px #ABABAB,-1px 0px 3px -10px #DDDDDD;*/
}

.staged_img {
    max-height: 480px;
}

.circular {
    border-radius: 50%;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}